.loading {
  display: flex;
  flex-direction: column;
}

.loading h2 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #212121;
}

.loading__icon {
  width: 475px;
  height: 465px;
}

.character__back {
  display: flex;
  gap: 8px;
}

.character__back h2 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  color: #000;
}
