.character {
  position: relative;
  display: flex;
  width: 492px;
  height: 232px;
  padding: 8px;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  gap: 16px;
  flex-shrink: 0;
}

.character__image img {
  width: 240px;
  height: 234px;
}

.character__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.character:hover .character__info-edit {
  display: block;
}

.character__info-edit {
  display: none;
  position: absolute;
  top: 10px;
  right: 8px;
  cursor: pointer;
}

.character__name {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
}

.character__info-item {
  height: 42px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.character__info-item p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: #3f3f3f;
}

.character__info-item h3 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

.character__status {
  display: flex;
  flex-direction: row;
  align-items: center;
}
