.main {
  display: flex;
  flex-direction: column;
  margin: 26px 0 26px 0;
  align-items: center;
}

.main_logo {
  display: flex;
  justify-content: center;
}

.main_filtered {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 16px 0 28px 0;
  gap: 28px;
}

.main_pagination {
  margin-top: 34px;
}
