.select {
  position: relative;
  width: 240px;
  height: 56px;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  cursor: pointer;
}

.select--small {
  width: auto;
  height: 21px;
  border-radius: 6px;
}

.select--small .select__control {
  padding: 2px 6px;
}

.select--small .select__title {
  width: 94px;
  font-size: 14px;
  height: 17px;
}

.select__control {
  padding: 15px 15px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.select__title {
  border: none;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}

.select__dropdown {
  position: absolute;
  z-index: 10;
  top: calc(100% + 4px);
  left: 0;
  right: 0;
  border: 1px solid #393939;
  border-radius: 6px;
  background: #fff;
}

.select__option {
  padding: 12px 10px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}

.select__option:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.select--small .select__dropdown .select__option {
  padding: 6px 6px;
  font-size: 14px;
}
