.loading {
  display: flex;
  flex-direction: column;
}

.loading h2 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #212121;
}

.loading__icon {
  width: 475px;
  height: 465px;
}

.main {
  display: flex;
  flex-direction: column;
  margin: 26px 0 26px 0;
  align-items: center;
}

.main_logo {
  display: flex;
  justify-content: center;
}

.main_filtered {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 16px 0 28px 0;
  gap: 28px;
}

.main_pagination {
  margin-top: 34px;
}
