.header {
  height: 60px;
  box-shadow: -2px 0 8px 2px rgba(0, 0, 0, 0.1);
  background: #fff;

  display: flex;
}

.header__top {
  margin: 0 auto 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  justify-content: center;
}

.header__controls {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header__theme,
.header__lang {
  border: 1px solid #393939;
  border-radius: 8px;
  width: 37px;
  height: 38px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.header__theme h2 {
  padding: 4px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.6);
}
