.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.loading__title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #212121;
}

.loading__icon {
  width: 475px;
  height: 465px;
  animation: portal-rotate 3s linear infinite;
  transform-origin: center center;
}

@keyframes portal-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
