.input {
  position: relative;
  width: 240px;
  height: 56px;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  cursor: pointer;
}

.input--small {
  width: 100px;
  height: 21px;
  border-radius: 6px;
}

.input--small .input__control {
  padding: 6px 6px;
  justify-content: space-between;
}

.input--small .input__title {
  width: auto;
  font-size: 14px;
  width: 61px;
  height: 17px;
}

.input__dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  flex-shrink: 0;
}

.input__dot--green {
  background-color: #12b800;
}

.input__dot--red {
  background-color: #df0000;
}

.input__dot--orange {
  background-color: #ff9900;
}

.input__control {
  padding: 15px 10px;
  box-sizing: border-box;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.input__title {
  width: 176px;
  height: 19px;
  border: none;
  outline: none;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.input__icon {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input--small .input__icon {
  width: auto;
  margin-left: 8px;
}

.input__dropdown {
  position: absolute;
  z-index: 10;
  top: calc(100% + 4px);
  left: 0;
  right: 0;
  border: 1px solid #393939;
  border-radius: 6px;
  background: #fff;
}

.input__option {
  padding: 12px 10px;
  cursor: pointer;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  gap: 8px;
}

.input__option:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.input--small .input__dropdown .input__option {
  padding: 6px 6px;
  font-size: 14px;
}
