.filter {
  width: 240px;
  height: 56px;
  display: flex;
  gap: 8px;
  padding: 16px;
  box-sizing: border-box;

  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.filter__input {
  width: 176px;
  height: 24px;
  border: none;
  outline: none;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.5);
}
