.footer {
  margin-top: auto;
  height: 60px;
  box-shadow: -2px 0 8px 2px rgba(0, 0, 0, 0.1);

  background: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__title {
  text-align: center;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  color: #212121;
}
